{% extends 'core/base.html' %}

{% block title %}Clients Report{% endblock %}

{% block content %}
<div class="row mt-4 pt-4">
    <div class="col-md-4">
        <div class="border p-3">
            <h4 class ="mb-4 text-xl">Total Order Value by Client:</h4>
            <hr>
            <form method="POST">


            </form>
        </div>
    </div>

    <div class="col-md-8">
        <canvas id="myChart" width="400" height="200"></canvas>
        <script>
            var colors = ['#F44336', '#9C27B0', '#3F51B5', '#03A9F4', '#009688', '#8BC34A', '#FFC107'];
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [{% for data in data %}'{{ data.org_name }}', {% endfor %}],
                datasets: [{
                  label: 'Total Order Value',
                  data: [{% for data in data %} {{ data.total_order_value}}, {% endfor %}],
                  backgroundColor: colors.slice(0, {{ data|length }}),
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
          
    </div>
<div class="py-6 px-6">
    <div class="col-md-4">
        <div class="border p-3">
            <h4 class ="mb-4 text-xl">Total Order Value by Client Type:</h4>
            <hr>
            <form method="POST">


            </form>
        </div>
    </div>

    <div class="col-md-8">
        <canvas id="myChart2" width="400" height="200"></canvas>
        <script>
            var store_values = [];
            var restaurant_values = [];

            {% for data in data %}
                {% if data.customer_type == 'store' %}
                    store_values.push({{ data.total_order_value }});
                {% else %}
                    restaurant_values.push({{ data.total_order_value }});
                {% endif %}
            {% endfor %}


            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: ['Store', 'Restaurant'],
                datasets: [{
                  label: 'Total Order Value',
                  data: [store_values.reduce((a, b) => a + b, 0), restaurant_values.reduce((a, b) => a + b, 0)],
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)' 
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          </script>
          
    </div>
</div>
{% endblock %}